/* Global Body Tag Style */

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  /* overflow-y: scroll; */
  margin: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
  background-image: url("../img/qbkls.png");
  background-size: auto;
  padding-bottom: 175px;
  line-height: 20px;
}

/* Links Globally */
/* a {
  color: white;
} */

/*  Links Each state */

a {
  text-decoration: none;
  color: white;
}

a:focus {
  text-decoration: none;
  color: cadetblue;
}
a:hover {
  text-decoration: none;
  color: lightgreen;
}

a:active {
  text-decoration: underline;
  color: orangered;
}

/* Nav Styles */
.nav {
  display: flex;
  flex-direction: inherit;
  z-index: 2;
  clear: both;
  background-color: #222;
  position: fixed;
  width: 100%;
  top: 0;
  height: 90px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  border-color: grey;
  border-width: 2px;
}
.nav p {
  display: inline-block;
  color: white;
  font-size: 15px;
  margin-bottom: 0;
}

.nav-wrapper {
  width: 100%;
  margin-right: auto;
  padding-right: 25px;
  height: 50px;
  position: relative;
  bottom: 0;
  float: right;
  padding-top: 50px;
}

.nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
  font-size: 20px;
}

.nav ul li {
  display: inline-block;
  color: white;
}

.nav ul li:hover {
  background-color: #333;
}

.nav ul li a:default {
  color: white;
  display: block;
  padding: 15px;
  text-decoration: none;
}

.nav ul li a :visited {
  color: inherit;
  display: block;
  padding: 15px;
  text-decoration: none;
}

/* nav item pipe solution */

.nav li + li::before {
  content: " | ";
}

.nametag {
  background-color: cadetblue;
  height: auto;
  width: auto;
  background-position-y: 3;
  text-decoration-style: none;
  text-decoration: none;
  word-wrap: unset;
  border-style: solid;
  border-width: 4px;
  border-color: grey;
  border-spacing: 5px;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 20px;
  clear: both;
}

.nametag a {
  text-decoration: none;
}

/* Main Content Style */

.wrapper {
  padding-top: 130px;
  max-width: 960px;
  margin: 0 auto 0 auto;
  text-align: left;
  min-height: 100%;
  padding-bottom: 20px;

  /* margin-bottom: 5%;
  margin-top: 30px; */
}

.content {
  background-color: #fff;
  border: 3px solid #ddd;
  padding: 20px;
  position: inherit;
  /* margin: 200px 0 auto 0; */
  /* height: 100%; */
}
.portrait {
  border-style: groove;
  border-width: 10px;
  border-color: black;
  margin-left: auto;
  margin-right: 10px;
  float: left;
  width: 300px;
  height: 300px;
}
.patent {
  color: black;
}
.patent:hover {
  color: red;
}

.contact a {
  float: right;
  color: black;
  color: inherit;
}

.name {
  color: cadetblue;
  border-bottom: 5px solid cadetblue;
}

/*  */
.social-footer {
  background-color: cadetblue;
  border-top: 5px solid grey;
  color: white;
  position: relative;
  text-align: center;
  width: 100%;
  bottom: 0;
  padding: 0.25rem;
  height: 175px;
}

.social-icons {
  margin-top: 10px;
}

/* Below contains my form styling */

input[type="text"] {
  padding: 5px;
  border: 2px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: cadetblue;
  color: #fff;
}

input[type="email"] {
  padding: 5px;
  border: 2px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: cadetblue;
  color: #fff;
}

select {
  padding: 3px;
  border: 2px solid #fff;
  -webkit-border-radius: 3;
  border-radius: 3px;
  background-color: cadetblue;
  color: white;
}

input[type="text"]:focus {
  border-color: green;
}

input[type="submit"] {
  display: inline-block;
  padding: 5px 10px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  background-color: cadetblue;
  color: white;

  transition: background-color 0.5s, border 0.5s, color 0.5s;
}
textarea {
  padding: 5px;
  border: 2px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: cadetblue;
  color: white;
}

textarea::placeholder {
  color: azure;
  font-size: 1.2em;
  font-style: italic;
}

input[type="tel"] {
  padding: 5px;
  border: 2px solid #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: cadetblue;
  color: white;
}
input[type="submit"]:hover {
  display: inline-block;
  padding: 5px 10px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  background-color: cadetblue;
  color: white;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

input::placeholder {
  color: azure;
  font-size: 1.2em;
  font-style: italic;
}

@media (max-width: 475px) {
  .nav,
  .wrapper,
  .nav-wrapper .contact .social-footer {
    display: flex;
    flex-flow: column;
  }
  .portrait,
  .biotext {
    clear: both;
  }

  .nav ul li {
    clear: left;
    float: left;
  }

  .nav-wrapper,
  .nav {
    height: 25%;
  }

  .formz {
    word-wrap: break-word;
    text-overflow: ellipsis;
  }

  .homenav,
  .nav li::before {
    content: "| ";
  }

  .wrapper {
    padding-top: 43%;
  }
}
